<%- include('./part/header.ejs'); %>
<section class="board topClass">
  <div class="container">
    <div class="board-nav">
      <h3><%=title%></h3>
      <%
        if(writer === id){
      %>
      <div class="board-menu-container">
        <a href="/board/update?boardNumber=<%=bno%>"><i class="fas fa-pencil-alt"></i></a>
        <form class="board-form" action="/board/delete" method="post">
          <input type="hidden" name="boardNumber" value='<%=bno%>'>
          <input type="hidden" name="category" value="<%=category%>">
          <button type="submit" name="button"><i class="far fa-trash-alt"></i></button>
        </form>
      </div>
      <%
        }
      %>
    </div>

    <p><%=content%></p>
    <p>글쓴이 : <%=writer%></p>
    <p>작성일 : <%=registerDate%></p>
    <p>수정일 : <%=updateDate%></p>
    <p>카테고리 : <%=category%></p>
  </div>
</section>
<%- include('./part/footer.ejs'); %>
