<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v4.0.1">
  <title>Welcome | Wonju Lee</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/assets/dist/css/bootstrap.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="/stylesheets/index.css" rel="stylesheet">
</head>

<body>
  <header>
    <!-- <img src="/images/background1.jpeg" class="headerImg"alt=""> -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">HOME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%=nav1Location%>">Q&A</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=nav2Location%>">Design & Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=nav3Location%>">Request</a>
          </li>
        </ul>
        <button class="btn btn-outline-success my-2 my-sm-0" onClick="location.href='/auth/<%=menuLocation%>'"><%=menu%></button>
      </div>
    </nav>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-- <img src="/images/background1.jpeg" alt=""> -->
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Welcome</h1>
              <p>My name is Lee wonju.<br>Currently, I am studying for Full Stack Engineer.<br>
                If you have some questions please signin and ask through question board.</p>
              <p><a class="btn btn-lg btn-primary" href="/auth/<%=menuLocation2%>" role="button"><%=menu2%></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main role="main">

    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Q&A</h2>
          <p>Welcome questions about C, C++, JAVA, Javascript, Html, Css and so on. If I know the answer, I'll reply your question.</p>
          <p><a class="btn btn-secondary" href="<%=nav1Location%>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <h2>My Designs & photo</h2>
          <p>You can see my web designs and photos. There are animation effect such as rain effect, rotation effect and so on.</p>
          <p><a class="btn btn-secondary" href="<%=nav2Location%>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <h2>Request</h2>
          <p>If you want make your own site or application, please write your request specifically. Then, I will make your own website or application!</p>
          <p><a class="btn btn-secondary" href="<%=nav3Location%>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

    <!--  <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
            aria-label="Placeholder: 500x500">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </svg>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
            aria-label="Placeholder: 500x500">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </svg>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
            aria-label="Placeholder: 500x500">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </svg>
        </div>
      </div>

      <hr class="featurette-divider">
-->
      <!-- /END THE FEATURETTES -->

  <!--  </div>--><!-- /.container -->

<hr class="featurette-divider">
    <!-- FOOTER -->
    <footer>
      <div class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2020 Wonju Lee </p>
      <p>To Contact</p>
      <p>
        <a href="https://github.com/poby123" target="_blank"><img class="contactImg" src="/images/github.jpg"></a>
        <a href="https://hoya123.tistory.com/" target="_blank"><img class="contactImg" src="/images/tistory.png"></a>
      </p>
    </div>
    </footer>
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="/stylesheets/assets/js/vendor/jquery.slim.min.js"><\/script>')
  </script>
  <script src="/stylesheets/assets/dist/js/bootstrap.bundle.js"></script>
</body>

</html>
