<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Jekyll v4.0.1">
  <title>Welcome | Wonju Lee</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/assets/dist/css/bootstrap.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="/stylesheets/index.css" rel="stylesheet">
</head>

<body>
  <header>
    <!-- <img src="/images/background1.jpeg" class="headerImg"alt=""> -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">HOME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%=nav1Location%>">Q&A</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=nav2Location%>">Design & Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=nav3Location%>">Request</a>
          </li>
        </ul>
        <button class="btn btn-outline-success my-2 my-sm-0" onClick="location.href='<%=menuLocation%>'"><%=menu%></button>
      </div>
    </nav>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-- <img src="/images/background1.jpeg" alt=""> -->
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Welcome</h1>
              <p>My name is Lee wonju.<br>Currently, I am studying for Full Stack Engineer.<br>
                If you have some questions please signin and ask through question board.</p>
              <p><a class="btn btn-lg btn-primary" href="<%=menuLocation2%>" role="button"><%=menu2%></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main role="main">
    <section class="profile">
      <div class="container">
        <div class="image-container">
          <img src="/images/github.jpg" alt="">
        </div>
        <div class="content-container">
          <h5><strong>이원주</strong></h5>
          <p>숭실대학교 1학년 소프트웨어학부 재학중...<br><br>
          - 개발한 서비스 <br>
          &nbsp => 언젠간 <br><br>
          - 개발할 서비스 <br>
          &nbsp => 언젠간... 아이디어 좀...
        </div>
      </div>
    </section>

  <hr class="featurette-divider">
    <!--
  ================================================== -->

    <div class="container navigation">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Q&A</h2>
          <p>Welcome questions about C, C++, JAVA, Javascript, Html, Css and so on. If I know the answer, I'll reply your question.</p>
          <p><a class="btn btn-secondary" href="<%=nav1Location%>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <h2>My Designs & photo</h2>
          <p>You can see my web designs and photos. There are animation effect such as rain effect, rotation effect and so on.</p>
          <p><a class="btn btn-secondary" href="<%=nav2Location%>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <h2>Request</h2>
          <p>If you want make your own site or application, please write your request specifically. Then, I will make your own website or application!</p>
          <p><a class="btn btn-secondary" href="<%=nav3Location%>" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>

    <hr class="featurette-divider">
    <!-- FOOTER -->
    <footer>
      <div class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2020 Wonju Lee </p>
        <p>To Contact</p>
        <p>
          <a href="https://github.com/poby123" target="_blank"><img class="contactImg" src="/images/github.jpg"></a>
          <a href="https://hoya123.tistory.com/" target="_blank"><img class="contactImg" src="/images/tistory.png"></a>
        </p>
      </div>
    </footer>
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="/stylesheets/assets/js/vendor/jquery.slim.min.js"><\/script>')
  </script>
  <script src="/stylesheets/assets/dist/js/bootstrap.bundle.js"></script>
</body>

</html>
