<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title><%= title %></title>
    <script>
      var msg = '<%=msg%>';
      if(msg){
        alert(msg);
      }
    </script>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/assets/dist/css/bootstrap.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/signup.css" rel="stylesheet">
    <link href="/stylesheets/board.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/stylesheets/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h2><%=title%></h2>
    <p class="lead">Welcome to <%=title%></p>
  </div>

  <div class="input">
    <div class="container">
      <h4 class="mb-3">Write Information</h4>
      <form class="mypage-validation" action="/auth/mypage" method="post" novalidate>
        <div class="mb-3">
          <label for="Name">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="<%=name%>" required>
          <div class="invalid-feedback">
            Valid name is required.
          </div>
        </div>
        <hr class="mb-4">
        <div class="mb-3">
          <label for="id">ID</label>
          <div class="input-group">
            <input type="text" class="form-control" id="id" name="id" value="<%=id%>" disabled>
            <div class="invalid-feedback">
              Your id is required.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="mypage-changePassword-container">
          <h5>password change</h5>
          <div class="mb-3">
            <label for="password">New Password</label>
            <div class="input-group">
              <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Optional">
              <input type="hidden" id="newPasswordForSubmit" name="newPasswordForSubmit">
            </div>
          </div>
          <hr class="mb-4">
          <div class="mb-3">
            <label for="checkPassword">Check New Password</label>
            <div class="input-group">
              <input type="password" class="form-control" id="checkNewPassword" placeholder="Optional">
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" name="email" value="<%=email%>">
        </div>
         <hr class="mb-4">
         <div class="mb-3">
           <label for="password">Confirm Current Password</label>
           <div class="input-group">
             <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="pw required" required>
             <input type="hidden" id="confirmPasswordForSubmit" name="confirmPasswordForSubmit">
           </div>
         </div>
         <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue Modify</button>
      </form>
    </div>
  </div>
<%-include('./part/footer.ejs'); %>
